<div class="bg-main">
    <form [formGroup]="resetform" (ngsubmit)="submitresetpassword()">
        <div class="row d-flex justify-content-center submitpassword-password">
            <div class="col-lg-4">
                <mat-card class="pb-4">
                    <div class="text-center mt-4">
                        <h1 class="m-0">Create a strong password</h1>
                        <p>Create a new, strong password that you don’t use for other websites</p>
                    </div>
                    <div class="px-4">
                        <mat-form-field class="d-grid" appearance="outline">
                            <mat-label>Create password</mat-label>
                            <mat-icon class="text-primary" matPrefix>lock</mat-icon>
                            <input matInput [type]="dark ? 'password' : 'text'" placeholder="password"
                                formControlName="Password">
                            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon class="text-primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button> -->
                            <!-- <mat-error
                                *ngIf="!resetform.controls['Password'].valid && resetform.controls['Password'].touched">
                                Create password is required!!
                            </mat-error> -->
                        </mat-form-field>

                        <mat-form-field class="d-grid" appearance="outline">
                            <mat-label>Confirm</mat-label>
                            <mat-icon class="text-primary" matPrefix>lock</mat-icon>
                            <input matInput [type]="dark ? 'password' : 'text' " placeholder="Confirm"
                                formControlName="newPassword" required="">
                            <!-- <button mat-icon-button matSuffix (click)="dark = !dark" [attr.aria-label]="'Dark password'"
                                [attr.aria-pressed]="dark">
                                <mat-icon class="text-primary">{{dark ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button> -->

                            <!-- <mat-error
                                *ngIf="!resetform.controls['newPassword'].valid && resetform.controls['newPassword'].touched">
                                Confirm Password is required!!
                            </mat-error> -->
                        </mat-form-field>
                        <div class="px-2">
                            <span>At least 8 characters</span>
                        </div>

                        <div class="d-flex">
                            <button mat-icon-button matSuffix (click)="dark = !dark" [attr.aria-label]="'Dark password'"
                                [attr.aria-pressed]="dark">
                                <mat-icon class="text-primary">{{dark ? 'visibility' : 'visibility_off'}} </mat-icon>
                            </button>
                            <div class="d-flex align-items-center">
                                Show password
                            </div>
                        </div>

                        <div class="d-grid mt-2 mb-4">
                            <button class="rounded-pill" mat-raised-button color="primary" type="submit"
                                [disabled]="resetform.invalid" (click)="submitresetpassword()">Reset Password</button>
                        </div>

                        <!-- <div class=" text-end pt-2">
                            <p class=""><a class="text-decoration-none text-primary"
                                    routerLink="/auth/forgot-password">forget
                                    Password?</a></p>
                        </div> -->
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>