<div class="bg-main">
    <form [formGroup]="forgetform" (ngsubmit)="forgot()">
        <div class="row d-flex justify-content-center forgot-password">
            <div class="col-lg-4">
                <mat-card class="pb-4">
                    <div class="text-center mt-4">
                        <h1 class="m-0">forgot Password</h1>
                        <p>Enter your email for password recovery.</p>
                    </div>
                    <div class=" text-end">
                        <p class="px-4"><a class="text-decoration-none text-primary" routerLink="/auth/reset-password">
                                Reset Password
                            </a></p>
                    </div>
                    <div class="px-4">
                        <mat-form-field class="d-grid" appearance="outline">
                            <mat-label>Email</mat-label>
                            <mat-icon class="text-primary" matPrefix>email</mat-icon>
                            <input class="" matInput placeholder="Email" formControlName="Email" required>
                            <mat-error
                                *ngIf="!forgetform.controls['Email'].valid && forgetform.controls['Email'].touched">
                                email is required!!
                            </mat-error>
                        </mat-form-field>

                        <div class="d-grid mt-2">
                            <button class="rounded-pill" mat-raised-button color="primary" type="submit"
                                [disabled]="forgetform.invalid" (click)="forgot()">Send Recover Link</button>
                        </div>
                        <div class="pt-2 text-end">
                            <p class="px-4"><a class="text-decoration-none text-primary" routerLink="/auth/login">
                                    Click here to login</a></p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>