
.bg-main {
    background: linear-gradient(135deg, rgb(245, 245, 248) 22px, rgba(0, 0, 0, .04) 22px, rgba(0, 0, 0, .04) 24px, transparent 24px, transparent 67px, rgba(0, 0, 0, .04) 67px, rgba(0, 0, 0, .04) 69px, transparent 69px), linear-gradient(225deg, rgb(245, 245, 248) 22px, rgba(0, 0, 0, .04) 22px, rgba(0, 0, 0, .04) 24px, transparent 24px, transparent 67px, rgba(0, 0, 0, .04) 67px, rgba(0, 0, 0, .04) 69px, transparent 69px) 0 64px;
    background-color: rgb(245, 245, 248);
    background-size: 64px 128px;
    // padding-bottom: 11rem;
    overflow: hidden;
}

.forgot-password {
   padding: 13.5rem 0;
}

